


h1{
    margin-bottom: 30px;
}



.oferta {
    border: 1px solid black;
  
    background-color: rgba(12, 173, 98, 0.548) ;
}


.table thead th{
    border-bottom: 1px solid #141414;

}

.table th, table td{
    vertical-align: middle;
    border-top: 1px solid #141414;
}

